/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.trned_main_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.trendingWrapper {
  margin-top: 40px;
  margin-bottom: 120px;
}
.trendContentWrapper {
  margin: 20px 0px;
}
.trendContentWrapper p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  text-align: left;
}
.trendContentWrapper .price {
  font-weight: 500;
  font-size: 14px;
  line-height: 0px;
  color: #282627;
  text-align: left;
}
.trendContentWrapper .price::before {
  content: "\20B9";
  margin-right: 5px;
}
